extends layout

block content
  #listName
  p 新しいToDoを作成する
  .info
  .list

block stylesheet
  link(rel='stylesheet' href='/stylesheets/detail.css')

block scripts
  script(src='javascripts/detail.js')