extends layout

block content
  #listName
  p 新しいToDoリストを作成する
  .info
  .list

block stylesheets
  link(rel='stylesheet' href='/stylesheets/detail.css')

block scripts
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='javascripts/detail.js')