extends layout

block content
  p 新しいToDoリストを作成する
  table
    tr
      td
        input(type="textbox")
      td
        input(type="button" value="リストの作成")
  .list

block scripts
  script(src='http://code.jquery.com/jquery-2.0.0.min.js')
  script(src='javascripts/todo.js')