extends layout

block content
  p 新しいToDoリストを作成する
  form
    table
      tr
        td
          input#text(type="textbox")
        td
          input#btn(type="button" value="リストの作成")
  .info
  .list

block scripts
  script(src='javascripts/todo.js')