doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block stylesheets
  body
    table(border="1" width="100%")
      tr
        td <a href="">TODOリスト</a>
        td <a href="search">検索</a>
    block content
    block scripts