body {
  width: 80%;
  margin-left: 10%;
  line-height: 1.5em;
}

h1 {
  text-align: center;
}

#regForm {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#todoList table {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#todoList dt {
  margin: 0;
  background-color: rgb(0, 0, 128);
  color: white;
}

#todoList dd {
  margin: 0;
  padding: 4px;
  border: solid;
}

#todoList img {
  margin-top: 4px;
}